/* NORMALIZE CSS -START-*/
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    background-color: var(--test8);
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

:root {
    --test1: #0c0f16;
    --test2: #1c2331;
    --test3: #b2bec3;
    --test4: #a6daff;
    --test5: #2EBFA5;
    --test6: #D6D3F0;
    --test7: #2F2D2E;
    --test8: #0D1317;
    --test9: #F2F3D9;
    --test10: #92DCE5;
    --test11: #FFBA49;
}

/* NORMALIZE CSS -END-*/

/* CONTAINER -START-*/
.container {
    display: flex;
    height: 100%;
}

/* CONTAINER -END-*/


/* NAVBAR -START-*/

nav {
    font-size: 20px;
    flex: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 2px solid var(--test11);
    gap: 2rem;
    color: white;
    height: 5%;
    overflow: hidden;
    transition: height 250ms ease;

}
.pp-cont{
    width: calc(17vw + 20px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.pp-cont::before{
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    /* background-color: #028170; */
    z-index: 1;
    border: solid #c39549;
    border-width: 7px 0px 7px 0px;
    border-radius: 42.5%;
    animation: rotating 7s ease infinite alternate;
    /* display: none; */
    visibility: hidden;
}
.pp-cont-onload::before{
    visibility: visible;
}

.pp-cont img{
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

/* 
.ppCont img {
    display: block;
    margin-top: 1rem;
    border-radius: 50%;
} */

/* .ppCont {
    width: 11vw;
    height: 11vw;
    margin-top: 1rem;
    position: relative;
} */


/* 
.ppCont::before {
    content: '';
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    border: 20px solid #222a44;
    outline: 5px dashed #000000;
    border-radius: 50%;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 30s linear infinite;
    box-shadow: 0 0 0 5px hsl(0deg 0% 100% / 0%), 0px 0px 0 5px hsl(0deg 0% 100% / 100%)
}

.ppCont::after {
    content: '';
    position: absolute;
    background-image: url(img/pp2.jpg);
    background-size: cover;
    top: 0.2rem;
    bottom: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    border-radius: 50%;
} */

/* PP ANIMATİON -START-*/
@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* PP ANIMATİON -END-*/

.pp {
    width: calc(17vw + 20px);
    /* border-radius: 50%; */
    /* border: solid #ffba49; */
    /* border-width: 3px 0px 3px 0px; */
}

.infoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.infoCont:nth-child(3) {
    margin-bottom: 50px;
}

.pad-LR {
    padding: 0 1rem;
    width: 100%;
}

.nav-elem {
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    color: white;
    display: inline-block;
    padding: 1rem;
    background-color: transparent;
    background-image: linear-gradient(var(--test11), var(--test11)), linear-gradient(transparent, transparent), linear-gradient(var(--test11), var(--test11)), linear-gradient(var(--test11), var(--test11)), linear-gradient(#222a4400, #222a4400);
    background-repeat: no-repeat;
    background-size: 4px 0%, 0% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    background-position: left top, left bottom, right bottom, right top, 2px 0px;
    animation: square-border-inactive 250ms linear forwards;
    /* border-radius: 5%; */
    box-shadow: 0px 5px 0px var(--test11);
    border: none;
    cursor: pointer;
}

/* NAVBAR -START-*/
button:hover {
    animation: square-border-active 250ms linear forwards;
}

.arrow-cont{
    width: fit-content;
    margin: 0 auto;
    /* margin-top: 1rem; */
}
#arrow {
    display: block;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    margin-top: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    flex: 85%;
    gap: 3rem;
    padding: 2rem 3rem;
    overflow: auto;
}

.skills-cont {
    width: 100%;
}

table {
    width: 50%;
    font-size: 1.5vw;
}

.exp-table {
    width: 100%;
}

table tr td {
    width: 40%;
    padding: 0.5rem;
    border: 1px solid var(--test11);
    border-radius: 10px;
    text-align: center;
    /* background: #222a44; */
}

.tdProgress {
    width: 60%;
}

progress {
    width: 100%;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #393b5c, var(--test11));
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.content ul {
    display: flex;
    justify-content: space-evenly;
}

.cont1 {
    width: 100%;
    position: relative;
}

.cont1 ul li:hover {
    animation: square-border-active 250ms linear forwards;
}

@keyframes square-border-active {
    0% {
        background-size: 4px 0%, 0% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }

    25% {
        background-size: 4px 100%, 0% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }

    50% {
        background-size: 4px 100%, 100% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }

    75% {
        background-size: 4px 100%, 100% 4px, 4px 100%, 0% 4px, calc(100% - 4px) 100%;
    }

    100% {
        background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px, calc(100% - 4px) 100%;
    }
}

@keyframes square-border-inactive {
    0% {
        background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px, calc(100% - 4px) 100%;
    }

    25% {
        background-size: 4px 100%, 100% 4px, 4px 100%, 0% 4px, calc(100% - 4px) 100%;
    }

    50% {
        background-size: 4px 100%, 100% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }

    75% {
        background-size: 4px 100%, 0% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }

    100% {
        background-size: 4px 0%, 0% 4px, 4px 0%, 0% 4px, calc(100% - 4px) 100%;
    }
}

.cont2 {
    width: 100%;
    padding: 1rem;
    border-top: 2px solid #ffba49;
    color: white;
    text-shadow: 0.5px 0.5px 0px var(--test11);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cont2 section,
.cont2 section img {
    width: 100%;
}

.linkedin:hover a,
.github:hover a,
.twitter:hover a,
.instagram:hover a {
    background: linear-gradient(to right, var(--test11), var(--test6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillsRow {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.content-header {
    font-size: 2.5em
}

.content-p {
    padding: 1rem;
    font-size: 1.3em;
}

.pr-link {
    border-bottom: 3px solid var(--test11)
}

/* Genel scrollbar stilini tanımla */
::-webkit-scrollbar {
    width: 10px;
    /* scrollbar genişliği */
}

/* Scrollbar parçasının arka plan rengini tanımla */
::-webkit-scrollbar-track {
    background-color: #162027;
}

/* Scrollbar parçasının önyüz rengini tanımla */
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    /* scrollbar köşe yuvarlatma */
}

/* Mouse tekerleğiyle kaydırma yapılırken scrollbar rengini tanımla */
::-webkit-scrollbar-thumb:hover {
    background-color: #FFBA49;
}


/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    .container {
        display: block;
        height: auto;
    }

    .nav-elem {
        flex-direction: row;
    }

    nav {
        gap: 0.5rem;
        border-bottom: 4px solid var(--test11);
    }

    nav:before {
        content: none;
    }

    /* .ppCont {
        width: 18vw;
        height: 18vw;
    } */

    .mail {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .content {
        gap: 2rem;
        padding: 2rem 0;
    }

    .links {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .cont2 {
        gap: 1rem;
    }

    .skillsRow {
        display: block;
    }

    .skillsRow table {
        width: 100%;
        font-size: inherit;
    }

    .pad-LR {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Tabletler ve küçük ekranlı cihazlar için stil kuralları */
}